/* Main stylesheet */

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 15%;
    margin-bottom: auto;
    margin-left: 15%;
}

p {
    margin: 5px;
}

#intro {
    margin: 0 20%;
}

#profile-pic {
    height: 144px;
    width: 144px;
    margin: 12px;
}

div > a {
    font-size: 18px;
}

.col-md-6 {
    /*padding: 10px;*/
}

.fa {
    margin: 5px;
}

.project {
    height: 256px;
}

.project-image {
    max-height: 100%;
    max-width: 100%;
    height: 112px;
    width: auto;
}

.description {
    height: 128px;
}

#mcdermott-logo {
    padding: 14px;
}

#utd-logo {
    padding: 12px;
}

.skill-logo {
    height: 48px;
    width: auto;
    padding: 5px;
}
