/* Main stylesheet */

* {
    font-family: Courier;
}

body {
    background-color: #fafaf0;
    margin: 40px auto;
}

h1, h2, h3 {
    text-align: center;
    width: 100%;
    padding: 0px;
    line-height: 1;
}

a {
    margin: auto;
    color: #000000;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a span {
    color: #ffffff;
}

span:hover {
    border: 1px solid black;
}

#intro {
    margin: 0px auto;
    max-width: 65%;
}

.link {
    font-size: 24px;
}

/* Make big clickable link buttons */
.link-block-span {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    /* Put in front of other elements */
    z-index: 1;
}

.link-div {
    display: inline-block;
    text-align: center;
    background-color: #f0f0f0;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    height: 120px;
    position: relative;
}

/* Make columns for links */
.col-r {
    margin-right: 8%;
    width: 40%;
    float: right;
}

.col-l {
    margin-left: 8%;
    width: 40%;
    float: left;
}

.grid {
    margin: 0px auto;
    text-align: center;
    width: 80%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-row {
    height: 120px;
}

/* "Specify that <div> elements should have padding and border included in the element's total width and height" from W3Schools */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}