/* Main stylesheet */

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20%;
    margin-bottom: auto;
    margin-left: 20%;
}

p {
    margin: 5px;
}

#profile-pic {
    height: 144px;
    width: 144px;
    margin: 12px;
}

div > a {
    font-size: 18px;
}

.col-md-6 {
    padding: 10px;
}

.fa {
    margin: 5px;
}

.row {
    display: table;
}

.project {
    height: 256px;
}

.project > img {
    max-height: 100%;
    max-width: 100%;
    height: 128px;
    width: auto;
}

.description {
    height: 128px;
}

#mcdermott-log {
    padding: 10px;
}